<aside class="aside" [class.open]="open()">
  <div class="brand">
    <span class="material-icons">water_drop</span>
    <span>StudyReview</span>
  </div>

  <nav class="nav">
    <div class="section-label">Student</div>

    <a routerLink="/app/teacher/dashboard" routerLinkActive="active" class="link">
      <span class="material-icons">school</span><span>Teacher</span>
    </a>

    <a routerLink="/app/admin/dashboard" routerLinkActive="active" class="link">
      <span class="material-icons">admin_panel_settings</span><span>Admin</span>
    </a>
  </nav>
</aside>
