<!-- <div class="header-container">
    <header class="header">

        <div class="d-flex justify-content-between col">
            <div class="left-section">
                <h2>StudyReview</h2>
              </div>
            

              <div class="right-section">
                <button class="icon-btn" title="Notifications">
                  <mat-icon>notifications_none</mat-icon>
                </button>
            
                <button class="icon-btn" title="Help">
                  <mat-icon>help_outline</mat-icon>
                </button>
            
                <div class="avatar">
                  <img
                    src="https://randomuser.me/api/portraits/men/32.jpg"
                    alt="User"
                    class="avatar-img"
                  />
                </div>
              </div>
        </div>
      </header>
      
</div> -->